QMainWindow 
{ 
    background-color: rgb(30, 30, 30);
}

QLabel 
{ 
    background-color: rgb(40, 40, 40); 
    color: white; 
} 

QScrollArea 
{ 
    border: 3px solid lightblue; 
    border-radius: 5px; 
}

QComboBox 
{ 
    background-color: orangered; 
    border: 1px solid lightblue; 
}

QTextEdit 
{ 
    background-color: rgb(40, 40, 40); 
    color: white; border: 1px solid lightblue; 
}

QMenuBar 
{ 
    background-color: orangered; 
    border-bottom: 1px solid lightblue; 
}